<!--we have change pages/home to partila _home.html.erb , now rendering it here -->
<%= render 'pages/home' unless user_signed_in? %>

<!--h1>Listing pins</h1-->

<!--table>
  <!-thead-->
    <!--tr>
      <th>Image</th>
      <th>Description</th>
      <th>User</th>

      <th colspan="3"></th>
    </tr-->
  <!--/thead-->

  <!--tbody-->
  <!-- to make jquery masonary work wrap entire thing in div -->
  <!-- to animate class="transitions-enable" added to div-->
  <div id="pins" class="transitions-enable" >
    <% @pins.each do |pin| %>
    <!-- changed class="box to : show edit destroy will go with the cat image-->
      <div class="box panel panel-default">
        <!--tr-->
        <!-- tr and td removed-->
        <!-- note as if now cliak on any of the pin image doesnt do anything coz its just a image tag image_tag pin.image.url( :medium) -->
          <!--%= image_tag pin.image.url( :medium) %-->
          <%= link_to image_tag(pin.image.url( :medium)),pin %>
          <div class="panel-body">
            <!--NOTE: <p> tag already have <br> included before and after  -->
             <p><%= pin.description %></p>
             <!-- pin.user.email , note email could be nil for any of the user so better use if pin.user or try(email)-->
               
              <p><strong><%= pin.user.name if pin.user%></strong></p>
              <!--remove show so that now click on image will show the pic -->
              <!--%= link_to 'Show', pin %-->
              <!-- show the edit , destroy option of only to the current user to whom the pin belongs-->
              <% if pin.user == current_user%>
              <!-- to wrap the edit n destroy we are enclosing them inside div class -actions -->
                <div class="actions">
                  <!-- adding glyph so commenting out two lines -->
                   <!--%= link_to "Edit" ,edit_pin_path(pin) %-->
                   <!--%= link_to "Delete" ,pin, method: :delete, data: { confirm: 'Are you sure?' } %-->
                  <%= link_to edit_pin_path(pin) do %>
                     <span class="glyphicon glyphicon-edit"></span>
                       Edit 
                  <% end %>
                   <%= link_to pin, method: :delete, data: { confirm: 'Are you sure?' } do %>
                      <span class="glyphicon glyphicon-trash"></span>
                      Delete
                   <% end %>        
                </div>
              <% end %>
          </div>
        <!--/tr-->
      </div>
    <% end %>
  </div>

  <!-- Pagination to appear and center it around using div class -->
  <div class="center">
    <%= will_paginate @pins , renderer: BootstrapPagination::Rails %>
  </div>

  <!--/tbody-->
<!--/table-->

<!--br-->
<!-- moved to _header -->
<!--% if user_signed_in? %--> 
  <!--%= link_to 'New Pin', new_pin_path %-->
<!--% end %-->
