<!--p id="notice"><%= notice %></p-->
<%= link_to 'Back', pins_path %>

<div class= "row" >
	<!-- giving the image offset ,webpage->click->view source , you can find offset--> 
	<div class="col-md-offset-3 clo-md-8">
		<!--enclosing the image inside panel -->
		<div class="panel panel-default">
			<!-- center the image in the center-->
			<div class="panel-heading center">
				<%= image_tag @pin.image.url( :medium) %>
			</div>

			<div class= "panel-body"
					<p><!--strong>Description:</strong--> 
					<%= @pin.description %></p>
					<p><strong><%= @pin.user.email if @pin.user%></strong></p>
					<!-- you only see the EDIT link only if pin belong to you-->
					<% if @pin.user == current_user %> 
						<%= link_to 'Edit', edit_pin_path(@pin) %> 
					<% end %>
			</div>

		</div>	
	</div>
</div>
